.signature {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #2E2F30;
    padding: 1rem 0;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #EFEFEF;
}